/* components/Header.module.css */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Open+Sans&family=Roboto&display=swap');

.header {
  background-color: #570580;
  color: #FFFFFF;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  width: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center; /* Center the buttons */
  gap: 15px; /* Add space between buttons */
}

.button {
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  min-width: 100px; /* Set a minimum width */
  display: flex; /* Use flex to center the icon */
  justify-content: center; /* Center the icon horizontally */
  align-items: center; /* Center the icon vertically */
  flex-direction: column; /* Stack icon and text vertically */
}

.buttonLabel {
  color: #FFFFFF;
  font-size: 0.75rem; /* Adjust the font size as needed */
  margin-top: 5px; /* Space between icon and text */
}

.button:hover {
  background-color: #4A006A;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .button {
    padding: 10px;
    min-width: 80px; /* Smaller min-width for smaller screens */
    flex-direction: column; /* Ensure vertical stacking on smaller screens */
  }
  .buttonLabel {
    font-size: 0.65rem; /* Slightly smaller font size for smaller screens */
  }
  .buttonContainer {
    gap: 10px; /* Smaller gap for smaller screens */
  }
}
