/* Default styles for larger screens */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Open+Sans&family=Roboto&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F7F9;
  min-height: 100vh;
  padding: 20px;
  font-family: 'Open Sans', 'Roboto', Arial, sans-serif;
}

.bold {
  font-weight: bold;
  color: #000;
}

.body {
  font-family: 'Open Sans', 'Roboto', Arial, sans-serif;
}

.fetchButton {
  background-color: #570580;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.fetchButton:hover {
  background-color: #4A006A;
}

.errorMessage {
  color: #B00020;
  margin: 10px 0;
  font-weight: bold;
  padding: 12px;
}

.textDark {
  color: #570580;
  font-weight: bold;
  padding: 10px;
}

.dataSection {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.dataSection h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #570580;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 10px;
}

.h1 {
  font-family: 'Open Sans', 'Roboto', Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #F7F7F9;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid #570580;
  padding-bottom: 10px;
  display: inline-block;
  letter-spacing: 2px;
  background-color: #570580;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dataTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px; /* Adjust the second value to control spacing */
  overflow-x: auto;
}

.dataTable th,
.dataTable td {
  border: 1px solid #D0D0D2;
  padding: 8px 15px;
  text-align: left;
  border-radius: 10px;
}

.dataTable th {
  background-color: #FFFFFF;
  color: #570580;
  border: 2px solid #570580;
  text-align: center;
}

.dataTable td {
  color: #333;
  border: 2px solid #570580;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #570580;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #4A006A;
}

.loadingSpinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #570580;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: 10px;
  font-family: 'Open Sans', 'Roboto', Arial, sans-serif;
  color: #570580;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .fetchButton {
    padding: 8px 15px;
    margin-bottom: 10px;
  }

  .errorMessage {
    padding: 8px;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    font-family: 'Open Sans', 'Roboto', Arial, sans-serif;
  }

  .textDark {
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #570580;
    font-family: 'Open Sans', 'Roboto', Arial, sans-serif;
  }

  .dataSection h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #570580;
    text-align: left;
    margin-bottom: 10px;
    padding-left: 10px;
    font-family: 'Open Sans', 'Roboto', Arial, sans-serif;
  }

  .h1 {
    font-size: 1.2em;
    margin-bottom: 10px;
    padding-bottom: 8px;
  }

  .dataTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
  }

  .dataTable th,
  .dataTable td {
    border: 1px solid #D0D0D2;
    padding: 5px 10px;
    font-size: 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .pagination button {
    padding: 5px 8px;
    font-size: 0.9rem;
  }

  .dataTable th {
    background-color: #FFFFFF;
    color: #570580;
    border: 2px solid #570580;
    text-align: center;
  }

  .dataTable td {
    color: #333;
    border: 2px solid #570580;
  }
}
